.clientssummarybox {
    order: 99; /* This will move the box to the bottom of a flex container */
}

.clientssummarybox .title {
    background-color: #1a4d80;
    color: #ffffff;
    font-weight: bold;
}

.clientssummarybox .table > thead > tr > th {
    background-color: #1a4d80;
    color: #ffffff;
    border-bottom: 1px solid #1a4d80;
}

.clientssummarybox .table > tbody > tr > td, .clientssummarybox .table > thead > tr > th {
    border: 1px solid #000000;
}